.form {
  display: grid;
  flex-direction: column;
  gap: 16px;
  & label {
    display: grid;

    & input {
      height: 30px;
      margin-top: 2px;
      padding: 0 8px;
    }
  }
  & button {
    justify-self: center;
    width: 180px;
    height: 32px;
    margin-top: 10px;
    border: 2px solid darkgray;
    border-radius: 8px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 600;

    transition: all 300ms ease;

    &:hover,
    &:focus {
      background-color: beige;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    }
  }
}
