.contactList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  & li {
    display: flex;
    justify-content: space-between;
    & .name {
      width: 140px;
    }

    & .number {
      width: 100px;
    }
    & button {
      cursor: pointer;
      border: 1px solid darkgray;
      border-radius: 4px;

      font-size: 12px;
      transition: all 300ms ease;

      &:hover,
      &:focus {
        background-color: rgb(235, 211, 209);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
      }
    }
  }
}
